In [1]:
# Print the squares of even numbers between 0 - 10.
for num in range(11):
    if num%2 == 0:
        print(num * num)

0
4
16
36
64
100

In [3]:
number = [n for n in range(6)]
number

[0, 1, 2, 3, 4, 5]

In [2]:
even_squares = [num * num for num in range(11) if num%2 == 0]
even_squares

[0, 4, 16, 36, 64, 100]

In [4]:
#Converting lowercase letters in a string to uppercase.
colors = ["pink", "white", "blue", "black", "purple"]
a = [color.upper() for color in colors]

In [5]:
a

['PINK', 'WHITE', 'BLUE', 'BLACK', 'PURPLE']

In [6]:
colors = ["pink", "white", "blue", "black", "purple"]
for color in colors:
    print(color.upper())

PINK
WHITE
BLUE
BLACK
PURPLE

In [7]:
presidents_usa = ["Geeorge Washington", "John Adams","Thomas Jefferson",
                  "James Madison","James Monroe","John Adams","Andrew Jackson"]

split_names = [name.split(" ") for name in presidents_usa]
print(split_names)

[['Geeorge', 'Washington'], ['John', 'Adams'], ['Thomas', 'Jefferson'], ['James', 'Madison'], ['James', 'Monroe'], ['John', 'Adams'], ['Andrew', 'Jackson']]

In [8]:
swapped_list = [name[1] + " " + name[0] for name in split_names]
swapped_list

['Washington Geeorge',
 'Adams John',
 'Jefferson Thomas',
 'Madison James',
 'Monroe James',
 'Adams John',
 'Jackson Andrew']

In [3]:
# Convert height from cms to feet using List Comprehension : 1 cm = 0.0328 feet
height_in_cms = [('Tom',183),('Daisy',171),('Margaret',179),('Michael',190),('Nick',165)]
height_in_feet = [(height[0],round(height[1]*0.0328,1)) for height in height_in_cms]
height_in_feet
#t=height_in_cms[0]
#t[0]

[('Tom', 6.0),
 ('Daisy', 5.6),
 ('Margaret', 5.9),
 ('Michael', 6.2),
 ('Nick', 5.4)]

In [11]:
for i in range(3):
    for j in range(3):
        print(j * j + i, end= "  ")
    print()

0  1  4
1  2  5
2  3  6

In [12]:
range(3)

range(0, 3)

In [9]:
matrix = [[j * j + i for j in range(3)] for i in range(3)]
matrix

[[0, 1, 4], [1, 2, 5], [2, 3, 6]]

In [22]:
#list = []
list1 = []
for i in range(3):
    for j in range(3):
        list1 = [i,j]

In [23]:
list1

[2, 2]

In [14]:
names = [ 'Arnold', 'BILL', 'alice', 'arnold', 'MARY', 'J', 'BIll' ,'maRy']
[name.capitalize() for name in names if len(name) > 1]

['Arnold', 'Bill', 'Alice', 'Arnold', 'Mary', 'Bill', 'Mary']

In [13]:
names = [ 'Arnold', 'BILL', 'alice', 'arnold', 'MARY', 'J', 'BIll' ,'maRy']
{name.capitalize() for name in names if len(name) > 1}

{'Alice', 'Arnold', 'Bill', 'Mary'}

In [17]:
char_dict = {'A' : 4,'z': 2, 'D' : 8, 'a': 5, 'Z' : 10 }
{ k.lower() : char_dict.get(k.lower(), 1)  + char_dict.get(k.upper(), 1) 
 for k in char_dict.keys()}

{'a': 9, 'z': 12, 'd': 9}

In [23]:
# Sum of first ten natural numbers using List Comprehensions
s=[num**3 for num in range(11)]
s

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [24]:
sum([num**2 for num in range(11)])

385

In [ ]:
({num**2 for num in range(11)})

In [ ]:
(num**2 for num in range(11))

In [ ]:
sum(num**2 for num in range(11))