In [3]:
%%time
# set of integers
my_set = {1,5,7,0,3,4, 3, 3 ,3 }
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{0, 1, 3, 4, 5, 7}
{1.0, 'Hello', (1, 2, 3)}
Wall time: 1.03 ms

In [4]:
my_set = {'a', 'r', 'e', 'i', 'i'}
print(my_set)
## not possible to check details or occurance of the element
a=list(my_set)
a

{'i', 'r', 'a', 'e'}

['i', 'r', 'a', 'e']

In [3]:
my_set[3]

TypeError: 'set' object is not subscriptable

In [ ]:
str = 'kfkfk'

In [4]:
my_set

{'a', 'e', 'i', 'r'}

In [7]:
# initialize my_set
my_set = {1,2,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

#my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add('hi')
print(my_set)

# add multiple elements

my_set.update([2,3,10])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

my_set.add('hi')
print(my_set)

{1, 2, 3}
{1, 2, 3, 'hi'}
{1, 2, 3, 10, 'hi'}
{1, 2, 3, 4, 5, 6, 8, 10, 'hi'}
{1, 2, 3, 4, 5, 6, 8, 10, 'hi'}

In [ ]:
# remove elements from a set
# A particular item can be removed from set using methods, 
# discard() and remove().

# The only difference between the two is that, while using discard() 
# if the item does not exist in the set, it remains unchanged. 
# But remove() will raise an error in such condition.

In [8]:
# initialize my_set
my_set = {1, 3, 4, 5, 6,(1,2)}
print(my_set)

{(1, 2), 1, 3, 4, 5, 6}

In [6]:
my_set

{(1, 2), 1, 3, 4, 5, 6}

In [9]:
# discard an element
my_set.discard(6)
print(my_set)

{(1, 2), 1, 3, 4, 5}

In [10]:
# remove an element
my_set.remove(5)
print(my_set)

{(1, 2), 1, 3, 4}

In [11]:

# discard an element
# not present in my_set

my_set.discard(6)
print(my_set)

{(1, 2), 1, 3, 4}

In [12]:
# remove an element
# not present in my_set
# Output: KeyError: 2

my_set.remove(6)

KeyError: 6

In [13]:
# pop() and clear()
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
my_set

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [15]:
print(my_set)

{'W', 'o', 'H', 'l', 'd', 'r', 'e'}

In [16]:
my_set1 = frozenset("HelloWorld")

In [20]:
my_set1

frozenset({'H', 'W', 'd', 'e', 'l', 'o', 'r'})

In [21]:

# pop element

a=my_set.pop()
print(my_set)
print(a)

{'o', 'H', 'l', 'd', 'r', 'e'}
W

In [22]:
print(my_set)

{'o', 'H', 'l', 'd', 'r', 'e'}

In [31]:

# pop an element
print(my_set.pop('o'))

TypeError: pop() takes no arguments (1 given)

In [32]:
# clear my_set
my_set.clear()
print(my_set)

set()

In [17]:
del my_set

In [18]:
my_set

NameError: name 'my_set' is not defined

In [23]:
# Python Set Operations
# UNION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8,'a'}

print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [24]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [25]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [30]:
# INTERSECTION
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
#B = {6, 7, 8}  This will return empy set as no common values

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [38]:
A.intersection(B)

{4, 5}

In [39]:
B.intersection(A)

{4, 5}

In [26]:
# Set Difference
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [27]:
A.difference(B)

{1, 2, 3}

In [28]:
B - A

{6, 7, 8}

In [41]:
B.difference(A)

{6, 7, 8}

In [31]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
# Set Symmetric Difference
# Symmetric Difference of A and B is a set of elements in both A and B 
# except those that are common in both.
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [20]:
B ^ A

{1, 2, 3, 6, 7, 8}

In [32]:
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [36]:
# Iterating Through a Set
for letter in set("apple"):
     print(letter)

p
e
a
l

In [34]:
A

{1, 2, 3, 4, 5}

In [37]:
for letter in A:
     print(letter, end = '  #  ')

1  #  2  #  3  #  4  #  5  #

In [45]:
set("apple")

{'a', 'e', 'l', 'p'}

# This is my session on sets.

In [50]:
A = {1, 2, 3, 4, 5}
B = {4, 5}
c = {1,3,2}
print(c.issubset(A))
print(A.issuperset(B))
print(A.issubset(B))

True
True
False