In [4]:
# all of the following are equivalent
my_string = 'Hello1'
print(my_string)

my_string = "Hello2"
print(my_string)

my_string = '''Hello3 
welcome to my world'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello4, welcome to
           the world of Python"""
print(my_string)

Hello1
Hello2
Hello3
welcome to my world
Hello4, welcome to
           the world of Python

In [5]:
'''Hi, 
This is String'''
a = 'hi'
print(a)

hi

In [6]:
#This is a comment
def add():
    '''This is inside a function body, to add 2 numbers.'''
    print(10+20)
add()

30

In [8]:
add()

30

In [7]:
help(add)

Help on function add in module __main__:

add()
    This is inside a function body, to add 2 numbers.

In [3]:
str = 'data science class has started... seems like confusing'

In [4]:
str[0]

'd'

In [5]:
str[0]='y'
str

TypeError: 'str' object does not support item assignment

In [6]:
len(str)

54

In [8]:
# access characters in a string
# index must be in range
str[150]

IndexError: string index out of range

In [10]:
# index must be an integer
my_string[1.5]

TypeError: string indices must be integers

In [17]:
# change or delete a string
# Strings are immutable. This means that elements of a string cannot be 
# changed once it has been assigned.

In [10]:
my_string = 'programiz'
my_string[5] ='b'

TypeError: 'str' object does not support item assignment

In [11]:
my_string[5]

'a'

In [12]:
a=[1,2,3,4]
a
myset=frozenset([1,3,2,2])
myset

frozenset({1, 2, 3})

In [15]:
print(myset)

frozenset({1, 2, 3})

In [14]:
a = {1,2,2,24,7,2,5}
a

{1, 2, 5, 7, 24}

In [6]:
my_string = 'Python'

In [15]:
a

{1, 2, 5, 7, 24}

In [5]:
my_string

NameError: name 'my_string' is not defined

In [8]:
del my_string

In [8]:
# concatenation
str1 = 'Hello '
str2 ='World !'

# using +
print('str1 + str2 = ', str1 + str2)
str3=str1 + str2

# using *
print('str1 * 3 =', str3 * 3)

str1 + str2 =  Hello World !
str1 * 3 = Hello World !Hello World !Hello World !

In [3]:
# iterating
count = 1
for letter in 'Hello World how r you':
    print(letter,count)
    count += 1 
    
print(count,'letters found')

H 1
e 2
l 3
l 4
o 5
  6
W 7
o 8
r 9
l 10
d 11
  12
h 13
o 14
w 15
  16
r 17
  18
y 19
o 20
u 21
22 letters found

In [13]:
my_string = " Hello How are you"

'llo H' in my_string

True

In [16]:
#a = '6232874628'
a = [1,2,3,3]
2 in a

True

In [20]:
'Hello' in my_string

True

In [21]:
# Python String Formatting
print('He said, "What\'s there?"')

He said, "What's there?"

In [21]:
print("He said, \"What's there?\"")

He said, "What's there?"

In [14]:
a=10
b=15
print(a,"is smaller than",b )
print("{} is smaller than {}".format(b,a))

10 is smaller than 15
15 is smaller than 10

In [9]:
# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s1}, {b1} and {j1}".format(j1='John',b1='Bill',s1='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [25]:
# float formatting

a = 10.76
b = 220.5666666
print("Two float numbers : {} & {}".format(a, b))
print("Two float numbers : {:.2f} & {:.2f}".format(a, b))
print("Two float numbers : {:.2f} & {:10.2f}".format(a, b))

Two float numbers : 10.76 & 220.5666666
Two float numbers : 10.76 & 220.57
Two float numbers : 10.76 &     220.57

## how to lpad 00 to string..?

In [3]:
name = "John"
print("Hello, %s" % name)

Hello, John

In [18]:
name = "Rajendra Singh"
print("Hello, {}".format(name))

Hello, Rajendra Singh

In [30]:
name = "Rajendra Singh"
print("Hello, %s" % name)
print(f"Hello{name}")

Hello, Rajendra Singh
HelloRajendra Singh

In [20]:
name = "Rajendra Singh"
number ="192134"
print("Hello, {0:.5s} ,{0:.7s}".format(name,number))

Hello, Rajen ,Rajendr

In [15]:
name = "John"
age = 23
print("%s is %f years old." % (name, age))

John is 23.000000 years old.

In [24]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [10]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%d."

print(format_string % data)

Hello John Doe. Your current balance is $53.

In [26]:
# default arguments
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

In [12]:
# integer arguments
print("The number is: {:d}".format(123))
print("The number is: %d"% 123)
# float arguments
print("The float number is: {:f}".format(123.4567898))

# octal, binary and hexadecimal format
print("bin: {0:b}, oct: {0:o}, hex: {0:x}".format(12))

The number is: 123
The number is: 123
The float number is: 123.456790
bin: 1100, oct: 14, hex: c

In [22]:
# integer numbers with minimum width
print("{:5d}".format(12))

# width doesn't work for numbers longer than padding
print("{:6d}".format(12))
print("{:6d}".format(1234))

# padding for float numbers
print("Hello the number is {:+10.2f}".format(-12.2346))

# integer numbers with minimum width filled with zeros
print("{:06d}".format(12))

# padding for float numbers filled with zeros
print("{:08.2f}".format(12.2346))

   12
    12
  1234
Hello the number is     -12.23
000012
00012.23

In [14]:
# show the + sign
print("{:+10.2f} {:+10.2f}".format(12.23, -12.23))

# show the - sign only
print("{:-10.2f} {:-10.2f}".format(12.23, -12.23))

# show space for + sign
print("{: f} {: f}".format(12.23, -12.23))

    +12.23     -12.23
     12.23     -12.23
 12.230000 -12.230000

In [15]:
a=int(input())
print('Output: {:-5.2f}'.format(a))

5
Output:  5.00

In [22]:
# string padding with left alignment
print("{:10}".format("cat"))

# string padding with right alignment
print("{:>10}".format("cat"))

# string padding with center alignment
print("{:^10}".format("cat"))

# string padding with center alignment
# and '*' padding character
print("{:*^10}".format("cat"))

cat
       cat
   cat
***cat****

In [49]:
s = 'kfkfkfffffffffffffffffff'
s[:5]

'kfkfk'

In [23]:
# Python Program to 
# demonstrate String slicing 
  
# Creating a String 
String1 = "HelloAllInSevenmentor"
print("Initial String: ")  
print(String1) 
  
# Printing 3rd to 12th character 
print("\nSlicing characters from 3-12: ") 
a= "\nSlicing characters from 3-12: "

print(a[3:12])
print(String1[3:12]) 
  
# Printing characters between  
# 3rd and 2nd last character 
print("\nSlicing characters between " +
    "3rd and 2nd last character: ") 
print(String1[3:10:2])

Initial String:
HelloAllInSevenmentor

Slicing characters from 3-12:
icing cha
loAllInSe

Slicing characters between 3rd and 2nd last character:
lAln

In [24]:
String1

'HelloAllInSevenmentor'

In [28]:
String1[::2]

'HlolISvnetr'

In [31]:
balloon = "Sammy has a balloon."
" @ ".join(balloon)

'S @ a @ m @ m @ y @   @ h @ a @ s @   @ a @   @ b @ a @ l @ l @ o @ o @ n @ .'

In [25]:
a = 'ML'

In [31]:
balloon

'Sammy has a balloon.'

In [28]:
a.join(balloon)

'SMLaMLmMLmMLyML MLhMLaMLsML MLaML MLbMLaMLlMLlMLoMLoMLnML.'

In [37]:
print(reversed(balloon))

print(" ".join(reversed(balloon)))

print(reversed(balloon))

<reversed object at 0x0000019C470D2C88>
. n o o l l a b   a   s a h   y m m a S
<reversed object at 0x0000019C470D2C88>

In [36]:
print("/".join(["sharks", "crustaceans", "plankton"]))

sharks/crustaceans/plankton

In [21]:
print(balloon.split())

['Sammy', 'has', 'a', 'balloon.']

In [30]:
print(balloon.split("s"))

['Sammy ha', ' a balloon.']

In [38]:
print(balloon.replace("has","had"))

Sammy had a balloon.