In [1]:
# empty dictionary
my_dict = {}
print(my_dict)

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

# using dict()
my_dict1 = dict({1:'apple', 2:'ball'})
print(type(my_dict1))

print(my_dict)
# from sequence having each item as a pair
my_dict2 = dict([(1,'apple'), ('abc','ball')])
print(my_dict2)

{}
{1: 'apple', 2: 'ball'}
{'name': 'John', 1: [2, 4, 3]}
<class 'dict'>
{'name': 'John', 1: [2, 4, 3]}
{1: 'apple', 'abc': 'ball'}

In [5]:
my_dict

{'name': 'John', 1: [2, 10, 3]}

In [3]:
my_dict[1]

[2, 4, 3]

In [4]:
my_dict[1][1]= 10

In [9]:
#my_dict = dict([(1,'apple','abc','ball'),(2,'apple','abc','ball') ])
my_dict = dict([[1,['apple','orange']],(2,['apple','mango'])])
my_dict

{1: ['apple', 'orange'], 2: ['apple', 'mango']}

In [10]:
# access elements from a dictionary
# dictionary uses keys. Key can be used either inside square brackets 
# or with the get() method.

my_dict = {'name1':'Jack', 'age': 26, 
           'name2':'bhupen', 'age': 45}

print(my_dict['name1'])
# Trying to access keys which doesn't exist throws error
print(my_dict['name1'])
print(my_dict['age'])
print(my_dict.get('age'))

my_dict.get('address')

Jack
45
45

In [14]:
# change or add elements in a dictionary
# If the key is already present, value gets updated, else a new 
# key: value pair is added to the dictionary.
my_dict = {'name':'Jack', 'age': 26}
print(my_dict)

# update value
my_dict['age'] = 27
print(my_dict)

# add item
my_dict['address'] = 'Downtown'  
print(my_dict)

{'name': 'Jack', 'age': 26}
{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [7]:
# delete or remove elements from a dictionary
# create a dictionary
squares = {1: 1,  2: 4, 3: 9, 4: 16, 5:25} 

print(squares)

 # remove a particular item key
print(squares.pop(4))  

#print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
16

In [8]:
squares

{1: 1, 2: 4, 3: 9, 5: 25}

In [9]:
# remove an arbitrary item
print(squares.popitem())
print(squares)

(5, 25)
{1: 1, 2: 4, 3: 9}

In [10]:
print(squares.popitem())

(3, 9)

In [ ]:
# delete the dictionary itself
del squares

In [11]:
print(squares)
# delete a particular item
del squares 
print(squares)

{1: 1, 2: 4}

NameError: name 'squares' is not defined

In [12]:
my_dict

{'name': 'John', 1: [2, 10, 3]}

In [13]:
# remove all items
my_dict.clear()
print(my_dict)

{}

In [15]:
# iterating
stocks = {
        'IBM': 146.48,
        'MSFT':44.11,
        'CSCO':25.54
    }
    
#print out all the keys
for c in stocks:
    #print(c)
    print("key : " ,c, "value : ", stocks[c])

key :  IBM value :  146.48
key :  MSFT value :  44.11
key :  CSCO value :  25.54

In [17]:
stocks['IBM']

146.48

In [16]:
stocks[1]

KeyError: 1

In [18]:
t= (1,2,3)

In [19]:
type(t)

tuple

In [25]:
t[1]

2

In [21]:
stocks["IBM"]

146.48

In [23]:
for index in stocks:
    print(index)
    print(stocks[index])

IBM
146.48
MSFT
44.11
CSCO
25.54

In [20]:
# nested dictionary
users = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

users

{1: {'name': 'John', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [23]:
users[2]['age']

'22'

In [24]:
print(users[2]['age'])

22

In [21]:
print(users[1]['name'])
print(users[1]['age'])
print(users[2]['sex'])

John
27
Female

In [26]:
my_list = [{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]
print("Original List: ")
print(my_list[1]['key'])
#type(my_list)

Original List:
{'subkey': 10}

In [27]:
new_dict= [{'a':{'x':10}},{'b':{'y':20}},{'c':{'z':18}}]
print(type(new_dict))
new_dict

<class 'list'>

[{'a': {'x': 10}}, {'b': {'y': 20}}, {'c': {'z': 18}}]

In [28]:
new_dict[0]['a']['x']

10

In [24]:
print(type(new_dict[0]))
new_dict_val0= new_dict[0]
print(new_dict_val0)

<class 'dict'>
{'a': {'x': 10}}

In [26]:
new_dict_val0['a']['x']

10

In [27]:
a = my_list[1]
print(type(a))
a

<class 'dict'>

{'key': {'subkey': 10}}

In [32]:
a['key']['subkey']

10

In [ ]:
my_list[0]['key']['subkey']

In [ ]:
my_list

In [28]:
myfamily = {
    "child1" : {"name" : "Emil", "year" : 2004},
    "child2" : {"name" : "Tobias", "year" : 2007}, 
    "child3" : {"name" : "Linus", "year" : 2011}
}

In [29]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [29]:
child1 = {"name" : "Emil","year" : 2004}
child2 = {"name" : "Tobias", "year" : 2007}
child3 = {"name" : "Linus","year" : 2011}
myfamily = {"child1" : child1,"child2" : child2,"child3" : child3}

In [31]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [35]:
print(child1)
print(child2)
print(child3)
print(myfamily)

{'name': 'Emil', 'year': 2004}
{'name': 'Tobias', 'year': 2007}
{'name': 'Linus', 'year': 2011}
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
help()

In [ ]:
help()